---
import Layout from "../../layout/Layout.astro";
import Navbar from "../../components/navbar.astro";
import client from "../../lib/sanity";
import groq from "groq";
import { urlFor } from "../../lib/image";
import { formatDate } from "../../lib/date";
let { slug } = Astro.params;

function unslugify(slug) {
	return slug
		.split("-")
		.map((word) => word.charAt(0).toUpperCase() + word.slice(1))
		.join(" ");
}

const category = await client.fetch(
	groq`*[_type=="category"]{
		title,
		slug,
	}`
);

const post = await client.fetch(
	groq`*[_type=="post" && $slug in categories[]->slug.current]{
		title,
		slug,
		mainImage,
		"authors": authors[]->{
			slug,name,image
		},
  		publishedAt,
		"categories": categories[]->{
			title,
			slug
		},	
		description
	}`,
	{
		slug,
	}
);
---

<Layout
	imgurl="https://neurotechh.live/preview.png"
	title="Blogs | Neurotechh"
	description="Blogs on everythig Tech and Tutorial on how to build cool stuff with code"
>
	<Navbar />
	<div
		class="flex flex-col items-center justify-center min-h-screen py-12 w-full gap-2 z-0"
	>
		<h1
			class="text-5xl md:text-8xl font-black 2xl:space-y-16 font-sans2 mt-10 uppercase"
			data-aos="fade-up"
			data-aos-once="true"
			data-aos-duration="800"
		>
			<span class="text-brandred">{unslugify(slug)}</span>
		</h1><br />
		<p
			class="text-lg md:text-xl mt-3"
			data-aos="fade-up"
			data-aos-once="true"
			data-aos-duration="800"
			data-aos-delay="200"
		>
			Below you can find all our related blogs.
		</p>

		<div
			class="grid grid-flow-col-dense flex-row gap-3 md:gap-5 pt-5 items-center place-items-center w-fit"
		>
			{
				category.map((cat) => (
					<a
						href={`/category/${cat.slug.current}`}
						class={`inline-block mr-3 rounded-full hover:border px-4 md:px-8 py-3 text-sm text-white transition hover:scale-[1.01] hover:shadow-xl focus:outline-none focus:ring font-bold ${cat.slug.current === slug ? "bg-brandred border-0 hover:border-0" : ""}`}
					>
						{cat.title}
					</a>
				))
			}
		</div>
		<div class="my-6 border-t-2 border-gray-300 rounded-full w-full"></div>

		<section
			class="grid grid-rows-1 md:grid-cols-3 place-items-center items-center justify-around m-10 gap-10"
		>
			{
				post.map((post, index) => (
					<>
						<a
							href={`/blogs/${post.slug.current}`}
							class="m-auto flex flex-col items-center justify-center gap-5 bg-card/70 bg-grain bg-[length:200px_200px] rounded-xl place-items-center w-full h-fit border-2 border-border/30 hover:border-brandred/50  hover:scale-[.98] transition duration-300 ease-in-out"
							data-aos="fade-up"
							data-aos-once="true"
							data-aos-duration="800"
							data-aos-delay={index * 100 + 500}
							transition:name={post.slug.current}
						>
							<div class="flex flex-col justify-around">
								<img
									src={urlFor(post.mainImage).url()}
									alt="Neurotechh Blogs"
									class="rounded-2xl w-full h-full md:h-52 object-cover"
								/>
								<div class="space-y-6 py-10 px-6">
									<h1 class="text-xl md:text-2xl lg:text-3xl font-bold 2xl:space-y-16 font-sans2 ">
										{post.title}
									</h1>
									<span class="space-x-5 flex flex-row items-center">
										<img
											src={urlFor(
												post.authors[0].image
											).url()}
											alt="avatar"
											class="relative inline-block object-cover object-center w-12 h-12 rounded-full"
										/>
										<span>
											<span class="text-lg font-bold text-brand">
												{post.authors[0].name}
											</span>
											<span class="text-md text-text/80 block">
												{formatDate(post.publishedAt)}
											</span>
										</span>
									</span>
								</div>
							</div>
						</a>
					</>
				))
			}
		</section>
	</div>
</Layout>
