---
export const prerender = true;
import Layout from "../layout/Layout.astro";
import Grid from "../assets/svg/grid.svg";
import bhushan from "../assets/image.png";
import client from "../lib/sanity";
import groq from "groq";
import { urlFor } from "../lib/image";
import { formatDate } from "../lib/date";
const post = await client.fetch(
	groq`*[_type == "post"] | order(_updatedAt desc)
	{
		title,
		slug,
		mainImage,
		"authors": authors[]->{
			slug,name,image
		},
  		publishedAt,
		"categories": categories[]->{
			title,
			slug
		},	
		description
	}
	`
);
---

<Layout
	imgurl="https://neurotechh.live/preview.png"
	title="Blogs | Neurotechh"
	description="Blogs on everythig Tech and Tutorial on how to build cool stuff with code"
>
	<!-- 
	<section
		class="min-h-[50vh] lg:h-[90vh] mb-10 w-full max-w-[90vw] bg-text mx-auto rounded-2xl mt-[13vh] lg:mt-[15vh] p-10 text-background relative flex flex-col justify-center items-start gap-10 overflow-hidden"
	>
		<h1
			class="font-sans2 font-black text-brandred text-5xl lg:6xl lg:text-8xl z-10"
		>
			Neurotechh
		</h1>
		<h3 class="font-extrabold text-xl lg:2xl lg:text-3xl text-[#444] z-10">
			Community of <br /> Developers <span
				class="lg:pt-2 hidden lg:inline-block">|</span
			><br class="lg:hidden" />
			<span class="text-brandpink"> Inovators</span><br
				class="lg:hidden"
			/>
			<span class="hidden lg:inline-block">|</span> Students<br
				class="lg:hidden"
			/>
		</h3>
		<img
			src={Grid.src}
			class="absolute inset-0 z-0 w-full h-full lg:h-fit opacity-30"
		/>
		<img
			src={bhushan.src}
			class="lg:absolute lg:-right-[10%] w-full lg:w-1/2 h-full lg:h-fit rounded-2xl z-20"
		/>
		<img
			src={bhushan.src}
			class="hidden lg:block absolute -top-1/3 -right-[15%] w-1/2 h-full lg:h-fit rounded-2xl z-10"
		/>
		<img
			src={bhushan.src}
			class="hidden lg:block absolute top-[55%] right-0 w-1/2 h-full lg:h-fit rounded-2xl z-30"
		/>
		<!-- The above image is for example, use some personal Photo -->

	<section
		class="min-h-[50vh] lg:h-[90vh] mb-10 w-full mx-auto rounded-2xl mt-[13vh] lg:mt-[15vh] p-10 relative flex flex-col justify-center items-center gap-10 overflow-hidden text-center"
	>
		<h1
			class="font-sans2 font-black text-brandred text-5xl lg:text-8xl z-10"
			data-aos="fade-up"
			data-aos-once="true"
			data-aos-duration="800"
			data-value="Neurotechh"
		>
			Neurotechh
		</h1>
		<h3
			class="font-extrabold text-xl lg:2xl lg:text-3xl z-10"
			data-aos="fade-up"
			data-aos-once="true"
			data-aos-duration="800"
		>
			Community of Developers | Inovators | Students
		</h3>
		<a
			class="rounded-2xl text-xl font-bold flex items-center justify-center px-4 py-2 uppercase border-2 transition-all duration-150 ease-in-out lg:h-[90px] text-background min-w-56 h-full max-h-20 w-full bg-white/90 sm:w-auto"
			data-aos="fade-up"
			data-aos-once="true"
			data-aos-duration="800"
			href="https://forms.neurotechh.live/"
		>
			Wish to Work with us? Join Now!
		</a>
		<a href="#work">
			<i data-lucide="chevron-down" class="size-6 animate-bounce"></i>
		</a>
		<!-- <img
			src={bhushan.src}
			class="lg:absolute lg:-right-[10%] w-full lg:w-1/2 h-full lg:h-fit rounded-2xl z-20"
			data-aos="fade-up"
			data-aos-once="true"
			data-aos-duration="800"
			data-aos-delay="600"
		/>
		<img
			src={bhushan.src}
			class="hidden lg:block absolute top-0 -right-[15%] w-1/2 h-full lg:h-fit rounded-2xl z-10"
			data-aos="fade-up"
			data-aos-once="true"
			data-aos-duration="800"
			data-aos-delay="800"
		/>
		<img
			src={bhushan.src}
			class="hidden lg:block absolute top-[55%] right-0 w-1/2 h-full lg:h-fit rounded-2xl z-30"
			data-aos="fade-up"
			data-aos-once="true"
			data-aos-duration="800"
			data-aos-delay="400"
		/> -->
	</section>
	<section
		class="min-h-[50vh] lg:min-h-[90vh] w-full bg-white/90 mx-auto rounded-2xl p-10 py-24 text-background relative -mt-[5vh] flex flex-col justify-center items-center gap-10 overflow-hidden mb-[2vw]"
		id="work"
	>
		<img
			src={Grid.src}
			class="absolute inset-0 w-full h-fit object-fill opacity-20 z-0"
		/>
		<h1
			class="font-sans2 font-black text-brandred text-5xl lg:6xl lg:text-8xl z-10 text-center"
			data-aos="fade-up"
			data-aos-once="true"
			data-aos-duration="800"
		>
			What do we do?
		</h1>
		<h3
			class="font-extrabold text-xl lg:2xl lg:text-3xl text-[#444] z-10"
			data-aos="fade-up"
			data-aos-once="true"
			data-aos-duration="800"
		>
			We build projects, write blogs, host workshops. All for students by
			students!
		</h3>

		<a
			class="rounded-2xl text-xl flex items-center justify-center px-8 py-4 font-semibold uppercase leading-none [&_svg]:ml-[8px] [&_svg]:mt-[1px] border-2 transition-all duration-150 ease-in-out will-change-transform hover:translate-y-[-2px] active:translate-y-[2px] active:duration-100 lg:h-[90px] text-white min-w-56 h-full max-h-20 w-full bg-[#242427] sm:w-auto"
			data-aos="fade-up"
			data-aos-once="true"
			data-aos-duration="800"
			href="/blogs"
		>
			View All Blogs!
		</a>
		<section
			class="grid grid-rows-1 lg:grid-cols-3 place-items-center items-center justify-around gap-10 w-full"
		>
			{
				post.slice(0, 3).map((post, index) => (
					<>
						<a
							href={`/blogs/${post.slug.current}`}
							class="m-auto flex flex-col items-center justify-center gap-5 bg-card text-text bg-grain bg-[length:200px_200px] rounded-xl place-items-center w-full h-fit  hover:scale-125 transition duration-300 ease-in-out"
							data-aos="fade-up"
							data-aos-once="true"
							data-aos-duration="800"
							data-aos-delay={index * 100 + 500}
							transition:name={post.slug.current}
						>
							<div class="flex flex-col justify-around">
								<img
									src={urlFor(post.mainImage).url()}
									alt="Neurotechh Blogs"
									class="rounded-2xl w-full h-full lg:h-52 object-cover"
								/>
								<div class="space-y-6 py-10 px-6">
									<h1 class="text-xl lg:text-2xl lg:text-3xl font-bold 2xl:space-y-16 font-sans2 ">
										{post.title}
									</h1>
									<span class="space-x-5 flex flex-row items-center">
										<img
											src={urlFor(
												post.authors[0].image
											).url()}
											alt="avatar"
											class="relative inline-block object-cover object-center w-12 h-12 rounded-full"
										/>
										<span>
											<span class="text-lg font-bold text-brand">
												{post.authors[0].name}
											</span>
											<span class="text-md text-text/80 block">
												{formatDate(post.publishedAt)}
											</span>
										</span>
									</span>
								</div>
							</div>
						</a>
					</>
				))
			}
		</section>
	</section>
	<section
		class="min-h-[50vh] lg:min-:h-[70vh] w-full mx-auto rounded-2xl p-10 py-24 text-background relative -mt-[5vh] flex flex-col justify-center items-center gap-10 overflow-hidden mb-[2vw]"
		id="contact"
	>
		<h1
			class="font-sans2 font-black text-brandred text-5xl lg:6xl lg:text-8xl z-10 mt-[5%]"
			data-aos="fade-up"
			data-aos-once="true"
			data-aos-duration="800"
		>
			Find Us Here!
		</h1>
		<ul
			class="flex flex-row gap-5 lg:gap-10 text-text font-semibold *:tracking-wider"
		>
			<a
				href="https://github.com/NeuroTechh/"
				class="p-2 transition hover:bg-brandred rounded-2xl"
			>
				<i data-lucide="github" class="size-12"></i></a
			>
			<a
				href="https://www.instagram.com/Neurotechh"
				class="p-2 transition hover:bg-brandred rounded-2xl"
			>
				<i data-lucide="instagram" class="size-12"></i>
			</a>
		</ul>
	</section>
	<script>
		const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
		let interval = null;

		function animateText(event) {
			let iteration = 0;
			clearInterval(interval);
			interval = setInterval(() => {
				event.target.innerText = event.target.innerText
					.split("")
					.map((letter, index) => {
						if (index < iteration) {
							return event.target.dataset.value[index];
						}

						return letters[Math.floor(Math.random() * 26)];
					})
					.join("");

				if (iteration >= event.target.dataset.value.length) {
					clearInterval(interval);
				}

				iteration += 1 / 3;
			}, 90);
		}
		const code = document.getElementById("codee");
		animateText({ target: code });
	</script>
</Layout>
