---
import Navbar from "../../components/navbar.astro";
import Layout from "../../layout/Layout.astro";
import client from "../../lib/sanity";
import { urlFor } from "../../lib/image";
import { formatDate } from "../../lib/date";
import groq from "groq";
let { slug } = Astro.params;

const { authors, categories, body, mainImage, publishedAt, title } =
	await client.fetch(
		groq`*[_type == "post" && slug.current == $slug][0] {
  "authors": authors[]->{
    slug,name,image
  },
  "categories": categories[]->{
    title,
    slug
  },
  body,
  mainImage,
  publishedAt,
  title
}`,
		{
			slug,
		}
	);
import PortableText from "../../components/PortableText.astro";
---

<Layout transition:name={slug}>
	<article
		class="mt-[20vh] my-auto prose md:prose-lg prose-red prose-invert prose-img:rounded-xl prose-img:shadow-2xl prose-img:min-h-full md:prose-img:w-[60%] prose-img:mx-auto prose-figure:mx-auto text-justify prose-pre:text-left prose-headings:flex prose-headings:items-center prose-headings:gap-2 w-full flex flex-col justify-center mx-auto pt-[10vh] pb-[5vh] px-6 md:px-0 prose-headings:font-sans2 prose-headings:text-center prose-headings:mx-auto prose-headings:text-brandred text-text prose-blockquote:text-text/50 prose-blockquote:border-brandred"
		data-aos="fade"
		data-aos-duration="300"
		data-aos-easing="ease-in-out"
	>
		<h1 transition:name={slug + title}>{title}</h1>
		<p>By</p>
		{
			authors.map((author) => (
				<>
					<a
						href={`/author/${author.slug.current}`}
						class="text-blue-500 space-x-5 flex flex-row items-center w-1/2"
						transition:name={slug + authors[0].name}
					>
						<img
							src={urlFor(authors[0].image).url()}
							alt="avatar"
							class="relative inline-block object-cover object-center w-12 h-12 rounded-full"
						/>
						<span>
							<span class="textq-lg font-bold text-brand">
								{authors[0].name}
							</span>
							<span class="text-md text-text/80 block">
								{formatDate(publishedAt)}
							</span>
						</span>
					</a>
				</>
			))
		}
		<p>Published At {formatDate(publishedAt)}</p>
		{
			categories.map((category) => (
				<a
					href={`/category/${category.slug.current}`}
					class="text-blue-500"
				>
					{category.title}
				</a>
			))
		}
		<img src={urlFor(mainImage).url()} class="border-2 border-border" />
		<PortableText portableText={body} />
	</article>
</Layout>
