---
import Layout from "../../layout/Layout.astro";
import client from "../../lib/sanity";
import { urlFor } from "../../lib/image";
import { formatDate } from "../../lib/date";
import ProgressBar from "../../components/progressbar";
import groq from "groq";
let { slug } = Astro.params;

const {
	authors,
	categories,
	body,
	mainImage,
	publishedAt,
	title,
	description,
} = await client.fetch(
	groq`*[_type == "post" && slug.current == $slug][0] {
  "authors": authors[]->{
    slug,name,image
  },
  "categories": categories[]->{
    title,
    slug
  },
  body,
  mainImage,
  publishedAt,
  description,
  title
}`,
	{
		slug,
	}
);

let next = await client.fetch(
	groq`*[_type == "post" && publishedAt > $publishedAt] | order(publishedAt asc) [0] {
  title,
    publishedAt,

  slug,
    "authors": authors[]->{
    slug,name,image
	},
}`,
	{
		publishedAt,
	}
);
let prev = await client.fetch(
	groq`*[_type == "post" && publishedAt < $publishedAt] | order(publishedAt desc) [0] {
  title,
    publishedAt,
  slug,
    "authors": authors[]->{
    slug,name,image
  },
}`,
	{
		publishedAt,
	}
);
if (!prev) {
	prev = "";
}
if (!next) {
	next = "";
}

import PortableText from "../../components/PortableText.astro";
---

<Layout
	title={title}
	description={description}
	imgurl={urlFor(mainImage).width(1200).height(600).url()}
>
	<ProgressBar client:load />
	<div
		class="flex flex-col justify-center items-center md:min-h-[130vh] mt-[12vh] w-full max-w-7xl mx-auto gap-10 px-6 md:mt-24 md:mb-10"
	>
		<h1
			class="text-4xl md:text-6xl font-black 2xl:space-y-16 font-sans2 text-center"
		>
			{title}
		</h1>
		{
			authors.map((author) => (
				<>
					<a
						href={`/author/${author.slug.current}`}
						class="text-text no-underline space-x-5 flex flex-row items-center "
					>
						<img
							src={urlFor(authors[0].image).url()}
							alt="avatar"
							class="relative inline-block h-[58px] w-[58px] !rounded-full object-cover object-center"
						/>
						<span class="text-md no-underline text-nowrap font-bold text-brand">
							{authors[0].name}
							<p class=" pt-1 font-light">
								Published on {formatDate(publishedAt)}
							</p>
						</span>
					</a>
				</>
			))
		}
		{
			categories.map((category) => (
				<a
					href={`/blogs?category=${category.slug.current}`}
					class="inline-block mr-3 rounded border border-brandred px-8 py-3 text-sm font-medium text-white transition hover:scale-[1.01] hover:shadow-xl focus:outline-none focus:ring w-fit text-center"
				>
					{category.title}
				</a>
			))
		}
		<img
			src={urlFor(mainImage).url()}
			class="border-2 border-border rounded-2xl w-full h-[300px] md:h-[500px] object-cover"
		/>
	</div>

	<article
		class="my-auto prose md:prose-lg prose-pink prose-invert prose-img:rounded-xl prose-img:shadow-2xl prose-img:min-h-full md:prose-img:w-[60%] prose-img:mx-auto prose-figure:mx-auto prose-pre:text-left prose-headings:flex prose-headings:items-center prose-headings:gap-2 w-full flex flex-col justify-center mx-auto pt-[10vh] md:pt-0 pb-[5vh] px-6 md:px-0 prose-headings:font-sans2 prose-headings:text-center prose-headings:mx-auto prose-headings:text-brandred text-text prose-blockquote:text-text/50 prose-blockquote:border-brandred/60 no-underline prose-img:my-3 prose-headings:mt-10 prose-pre:border-2 prose-pre:border-border -mt-10 !break-words"
		data-aos="fade"
		data-aos-duration="300"
		data-aos-easing="ease-in-out"
		data-aos-once="true"
	>
		<PortableText portableText={body} />
		<hr class="borde-t border-t-white" />
	</article>
	<div
		class="flex flex-col md:flex-row justify-center items-center h-full w-full max-w-4xl mx-auto gap-10 px-6 mb-10"
	>
		{
			prev && (
				<a
					href={`/blogs/${prev.slug.current}`}
					class="border-2 border-text/20 w-full py-12 px-6 hover:bg-card/70 rounded-2xl flex flex-col transition-all duration-300 ease-in-out mt-6 p-3 gap-5"
				>
					<p class="text-sm text-text/50">Previous Post</p>

					<h1 class="text-2xl font-bold text-text">{prev.title}</h1>
				</a>
			)
		}

		{
			next && (
				<a
					href={`/blogs/${next.slug.current}`}
					class="border-2 border-text/20 w-full py-12 px-6 hover:bg-card/70 rounded-2xl flex flex-col transition-all duration-300 ease-in-out mt-6 p-3 gap-5"
				>
					<p class="text-sm text-text/50">Next Post</p>

					<h1 class="text-2xl font-bold text-text">{next.title}</h1>
				</a>
			)
		}
	</div>
</Layout>
