---
import Navbar from "../../components/navbar.astro";
import Layout from "../../layout/Layout.astro";
import client from "../../lib/sanity";
import { urlFor } from "../../lib/image";
import { formatDate } from "../../lib/date";
import groq from "groq";
let { slug } = Astro.params;

const { authors, categories, body, mainImage, publishedAt, title } =
	await client.fetch(
		groq`*[_type == "post" && slug.current == $slug][0] {
  "authors": authors[]->{
    slug,name,image
  },
  "categories": categories[]->{
    title,
    slug
  },
  body,
  mainImage,
  publishedAt,
  title
}`,
		{
			slug,
		}
	);
import PortableText from "../../components/PortableText.astro";
---

<Layout transition:name={slug}>
	<div
		class="flex flex-col justify-center items-center md:min-h-[130vh] mt-[10vh] w-full max-w-7xl mx-auto gap-10 px-6 md:mt-24 md:mb-10"
	>
		<h1
			class="text-5xl md:text-7xl font-black 2xl:space-y-16 font-sans2 text-center"
			transition:name={slug + title}
		>
			{title}
		</h1>
		{
			authors.map((author) => (
				<>
					<a
						href={`/author/${author.slug.current}`}
						class="text-text no-underline space-x-5 flex flex-row items-center "
					>
						<img
							src={urlFor(authors[0].image).url()}
							alt="avatar"
							class="relative inline-block h-[58px] w-[58px] !rounded-full object-cover object-center"
						/>
						<span class="text-lg no-underline text-nowrap font-bold text-brand">
							{authors[0].name}
							<p class=" pt-1 font-light">
								Published At {formatDate(publishedAt)}
							</p>
						</span>
					</a>
				</>
			))
		}
		{
			categories.map((category) => (
				<a
					href={`/category/${category.slug.current}`}
					class="inline-block mr-3 rounded border border-brandred px-8 py-3 text-sm font-medium text-white transition hover:scale-[1.01] hover:shadow-xl focus:outline-none focus:ring w-fit text-center"
				>
					{category.title}
				</a>
			))
		}
		<img
			src={urlFor(mainImage).url()}
			class="border-2 border-border rounded-2xl w-full h-[300px] md:h-[500px] object-cover"
		/>
	</div>

	<article
		class="my-auto prose md:prose-lg prose-red prose-invert prose-img:rounded-xl prose-img:shadow-2xl prose-img:min-h-full md:prose-img:w-[60%] prose-img:mx-auto prose-figure:mx-auto text-justify prose-pre:text-left prose-headings:flex prose-headings:items-center prose-headings:gap-2 w-full flex flex-col justify-center mx-auto pt-[10vh] pb-[5vh] px-6 md:px-0 prose-headings:font-sans2 prose-headings:text-center prose-headings:mx-auto prose-headings:text-brandred text-text prose-blockquote:text-text/50 prose-blockquote:border-brandred/60 no-underline prose-img:my-3 prose-headings:mt-10 prose-pre:border-2 prose-pre:border-border -mt-10"
		data-aos="fade"
		data-aos-duration="300"
		data-aos-easing="ease-in-out"
	>
		<PortableText portableText={body} />
	</article>
</Layout>
