---
import Layout from "../../layout/Layout.astro";
import client from "../../lib/sanity";
import groq from "groq";
import { formatDate } from "../../lib/date";
import { urlFor } from "../../lib/image";
const post = await client.fetch(
	groq`*[_type == "post"] | order(_updatedAt desc)
	{
		title,
		slug,
		mainImage,
		"authors": authors[]->{
			slug,name,image
		},
  		publishedAt,
		"categories": categories[]->{
			title,
			slug
		},	
		description
	}
	`
);
---

<Layout
	imgurl="https://neurotechh.live/preview.png"
	title="Blogs | Neurotechh"
	description="Blogs on everythig Tech and Tutorial on how to build cool stuff with code"
>
	<section
		class="flex flex-col justify-center md:items-center min-h-[130vh] w-full max-w-7xl mx-auto gap-10 px-6 mt-24 mb-10"
	>
		<h1
			class="text-5xl md:text-8xl font-black 2xl:space-y-16 font-sans2"
			data-aos="fade-up"
			data-aos-once="true"
			data-aos-duration="800"
		>
			Neurotechh Blogs
		</h1>
		<p
			class="text-lg md:text-xl"
			data-aos="fade-up"
			data-aos-once="true"
			data-aos-duration="800"
			data-aos-delay="200"
		>
			What we have been upto, What we have learnt and Built, all dumped
			here, Enjoy!
		</p>
		<a
			href={`/blogs/${post[0].slug.current}`}
			class="w-full h-fit bg-card/70 bg-grain bg-[length:200px_200px] rounded-2xl flex flex-col md:flex-row border-2 border-border/30 hover:border-brandred/50 hover:scale-95 transition-all duration-300 ease-in-out"
			data-aos="fade-up"
			data-aos-once="true"
			data-aos-duration="800"
			data-aos-delay="400"
			transition:animate="fade"
			transition:name={post[0].slug.current}
		>
			<img
				src={urlFor(post[0].mainImage).url()}
				alt="Neurotechh Blogs"
				class="rounded-2xl w-full h-full md:h-[400px] object-cover"
			/>
			<div class="space-y-6 flex flex-col justify-around p-6">
				<h1
					class="text-3xl md:text-4xl lg:text-5xl font-bold 2xl:space-y-16 font-sans2"
					transition:name={post[0].slug.current + post[0].title}
					transition:animate="fade"
				>
					{post[0].title}
				</h1>

				<span class="space-x-5 flex flex-row items-center">
					<img
						src={urlFor(post[0].authors[0].image).url()}
						alt="avatar"
						class="relative inline-block object-cover object-center w-12 h-12 rounded-full"
						transition:name={post[0].slug.current +
							post[0].authors[0].name}
						transition:animate="fade"
					/>
					<span>
						<span
							class="text-lg font-bold text-brand"
							transition:name={post[0].slug.current +
								post[0].authors[0].name}
							transition:animate="fade"
							>{post[0].authors[0].name}</span
						>
						<span class="text-md text-text/80 block"
							>{formatDate(post[0].publishedAt)}
						</span>
					</span>
				</span>
			</div>
		</a>
		<section
			class="grid grid-rows-1 md:grid-cols-3 place-items-center items-center justify-around w-full gap-10"
		>
			{
				post.slice(1).map((post, index) => (
					<>
						<a
							href={`/blogs/${post.slug.current}`}
							class="m-auto flex flex-col items-center justify-center gap-5 bg-card/70 bg-grain bg-[length:200px_200px] rounded-xl place-items-center w-full h-fit border-2 border-border/30 hover:border-brandred/50  hover:scale-[.98] transition duration-300 ease-in-out"
							data-aos="fade-up"
							data-aos-once="true"
							data-aos-duration="800"
							data-aos-delay={index * 100 + 500}
							transition:name={post.slug.current}
						>
							<div class="flex flex-col justify-around">
								<img
									src={urlFor(post.mainImage).url()}
									alt="Neurotechh Blogs"
									class="rounded-2xl w-full h-full md:h-52 object-cover"
								/>
								<div class="space-y-6 py-10 px-6">
									<h1 class="text-xl md:text-2xl lg:text-3xl font-bold 2xl:space-y-16 font-sans2 ">
										{post.title}
									</h1>
									<span class="space-x-5 flex flex-row items-center">
										<img
											src={urlFor(
												post.authors[0].image
											).url()}
											alt="avatar"
											class="relative inline-block object-cover object-center w-12 h-12 rounded-full"
										/>
										<span>
											<span class="text-lg font-bold text-brand">
												{post.authors[0].name}
											</span>
											<span class="text-md text-text/80 block">
												{formatDate(post.publishedAt)}
											</span>
										</span>
									</span>
								</div>
							</div>
						</a>
					</>
				))
			}
		</section>
	</section>
</Layout>
